* {
    // font-family: 'Gilda Display', 'Cormorant', serif;
    font-family: 'Comfortaa', cursive;
}

.full-height-card-image {
    height: 100% !important;
}

// Navbar
.nav-wrapper {
    width: 90%;
    padding: 0 5%;
}

// Parallax
#top-parallax {
      height: 200px;
}

// Footer
.social-icon {
    height: 40px;
}

// portfolio
.video-container {
    margin: 20px 0;
}

// presentation card images
.card-image {
    height: 150px;
}

//header
.header {
    font-family: 'Shadows Into Light', cursive;
}
.darken-image {
    filter: brightness(80%);
}

// smaller page specific nav
.sub-nav {
    height: 32px !important;
    line-height: 32px !important;
}
