* {
    font-family: 'Gilda Display', 'Cormorant', serif;
}

// Navbar
.nav-wrapper {
    width: 90%;
    padding: 0 5%;
}

// Parallax
#top-parallax {
      height: 200px;
}

// Footer
.social-icon {
    height: 40px;
}

// portfolio
.video-container {
    margin: 20px 0;
}

// presentation card images
.card-image {
    height: 150px;
}

.darken-image {
    filter: brightness(80%);
}