$break-small: 600px;

* {
    // font-family: 'Gilda Display', 'Cormorant', serif;
    font-family: 'Comfortaa', cursive;
}

.full-height-card-image {
    height: 100% !important;
}

// Navbar
.nav-wrapper {
    width: 90%;
    padding: 0 5%;
}

#navbar-logo {
    height: 40px;
    margin: 12px;
    @media screen and (max-width: $break-small) {
    height: 32px;
  }
}

// Parallax
#top-parallax {
      height: 200px;
}

// Footer
.social-icon {
    height: 40px;
}

// portfolio
.video-container {
    margin: 20px 0;
}

// presentation card images
.card-image {
    height: 150px;
}

//header
.header {
    // font-family: 'Shadows Into Light', cursive;
    font-family: 'Sedgwick Ave', cursive;
    margin: 15px;
}
.darken-image {
    filter: brightness(80%);
}

// smaller page specific nav
.sub-nav {
    height: 32px !important;
    line-height: 32px !important;
}

// make margin consistent for all page section headlines
.section-header {
    margin: 15px;
}
