<div id="top-parallax" class="parallax-container valign-wrapper">
    <div class="parallax">
        <img class="height-750" src="assets/images/keyboard.jpg">
    </div>
    <div class="row">
        <h4 class="header white-text center">Please send me a message using the form below, and I will get back to you as soon as possible. Thanks!</h4>
    </div>
</div>
<div class="section white">
    <div class="container">
        <form name="submissionForm">
            <div class="row">
                <div class="input-field col s6">
                    <input name="first_name" type="text" ng-model="contactForm.firstName" required>
                    <label for="first_name">First Name*</label>
                </div>
                <div class="input-field col s6">
                    <input name="last_name" type="text" ng-model="contactForm.lastName" required>
                    <label for="last_name">Last Name*</label>
                </div>
            </div>
            <div class="input-field col s12">
                <input name="email" type="email" class="validate" ng-model="contactForm.sender" required>
                <label for="email" data-error="invalid" data-success="valid">Email*</label>
            </div>
            <div class="input-field">
                <input name="subject" type="text" ng-model="contactForm.subject" required>
                <label for="subject">Subject*</label>
            </div>
            <div class="input-field">
                <textarea name="message" class="materialize-textarea" ng-model="contactForm.message" required />
                <label for="message">Message*</label>
            </div>
            <button type="submit" class="btn waves-effect waves-light light-green darken-2 center" ng-click="submissionForm.$valid && sendFormToServer()">
                Submit<i class="material-icons right">send</i>
            </button>
        </form>
        <p>* Required field.</p>
    </div>
</div>
