<div class="navbar-fixed sub-nav hide-on-small-only">
    <nav class="sub-nav grey darken-4">
        <div class="nav-wrapper container">
            <ul class="right" ng-repeat="catagory in cvCatagories">
                <li ng-click="goToSection(catagory)"><a href="">{{catagory}}</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="top-parallax" class="parallax-container valign-wrapper">
    <div class="parallax">
        <img class="darken-image" src="assets/images/vineyard.jpg">
    </div>
    <div class="row">
        <h4 class="header white-text center">Download my complete curriculum vitae <a href="assets/documents/Mallon_CV.pdf" target="_blank">HERE</a>.</h4>
    </div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <h5 id="{{cvCatagories[3]}}">{{cvCatagories[3]}}</h5>
            <ul class="collapsible popout"  data-collapsible="expandable">
                <li ng-repeat="profession in professionalExperience">
                    <div class="collapsible-header light-green darken-2 white-text">
                        <span>
                            {{profession.title}}
                            <p>{{profession.institution}}<span class="badge light-green lighten-3 black-text">{{profession.dates}}</span></p>
                        </span>
                    </div>
                    <div class="collapsible-body" ng-repeat="duty in profession.duties">
                        <div class="row">
                            <div class="col s1">
                                <i class="material-icons circle green accent-2" ng-if="profession.duties.length == 1">done_all</i>
                                <i class="material-icons circle green accent-2" ng-if="profession.duties.length != 1">done</i>
                            </div>
                            <div class="col s11">
                                <span>{{duty}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="collapsible-body" ng-if="profession.coursesTaught.length > 0" ng-repeat="course in profession.coursesTaught">
                        <i class="material-icons circle light-green accent-2">assignment</i>
                        <span class="title">Course Taught:  {{course.number}}: {{course.title}}</span>
                        <p>{{course.level}}; {{course.description}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/spike-ricky.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <h5 id="{{cvCatagories[2]}}">{{cvCatagories[2]}}</h5>
            <ul class="collection" ng-repeat="degree in education">
                <li class="collection-item avatar">
                    <i class="material-icons circle light-green darken-2">school</i>
                    <h5>{{degree.degree}}</h5>
                    <p>{{degree.institution}}, {{degree.date}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/spike-ricky.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <h5 id="{{cvCatagories[1]}}">{{cvCatagories[1]}}</h5>
            <ul class="collection" ng-repeat="interest in researchInterests">
                <li class="collection-item avatar">
                    <i class="material-icons circle light-green darken-2">mode_edit</i>
                    <h5>{{interest}}</h5>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/spike-ricky.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <h5 id="{{cvCatagories[0]}}">{{cvCatagories[0]}}</h5>
            <ul class="collapsible popout" data-collapsible="expandable">
                <li ng-repeat="(type, serviceList) in service">
                    <div class="collapsible-header light-green darken-2 white-text">
                        <span>{{type}}</span>
                    </div>
                    <div class="collapsible-body" ng-repeat="service in serviceList">
                        <div class="row">
                            <div class="col s1">
                                <i class="material-icons circle green accent-2" ng-if="type == 'Professional Memberships'">people_outline</i>
                                <i class="material-icons circle light-green accent-2" ng-if="type == 'Selected University & Library Committees'">school</i>
                                <i class="material-icons circle light-green lighten-3" ng-if="type == 'Selected National Committees'">people</i>
                            </div>
                            <div class="col s11">
                                <span>{{service}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

