<div id="top-parallax" class="parallax-container valign-wrapper">
    <div class="parallax">
        <img class="darken-image" src="assets/images/vineyard.jpg">
    </div>
    <div class="row">
        <h4 class="header white-text center">Download my complete curriculum vitae <a href="assets/documents/Mallon_CV.pdf" target="_blank">HERE</a>.</h4>
    </div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <h5>PROFESSIONAL EXPERIENCE</h5>
            <ul class="collection with-header" ng-repeat="profession in professionalExperience">
                <li class="collection-header light-green darken-2 white-text">
                    <h5>{{profession.title}}</h5>
                    <p>{{profession.institution}}<span class="badge light-green lighten-3 black-text">{{profession.dates}}</span></p>
                </li>
                <li class="collection-item avatar" ng-repeat="duty in profession.duties">
                    <i class="material-icons circle green accent-2" ng-if="profession.duties.length == 1">done_all</i>
                    <i class="material-icons circle green accent-2" ng-if="profession.duties.length != 1">done</i>
                    <p>{{duty}}</p>
                </li>
                <div>
                    <li class="collection-item avatar" ng-if="profession.coursesTaught.length > 0" ng-repeat="course in profession.coursesTaught">
                        <i class="material-icons circle light-green accent-2">assignment</i>
                        <span class="title">Course Taught:  {{course.number}}: {{course.title}}</span>
                        <p>{{course.level}}; {{course.description}}</p>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/spike-ricky.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <h5>EDUCATION</h5>
            <ul class="collection" ng-repeat="degree in education">
                <li class="collection-item avatar">
                    <i class="material-icons circle light-green darken-2">school</i>
                    <h5>{{degree.degree}}</h5>
                    <p>{{degree.institution}}, {{degree.date}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/spike-ricky.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <h5>RESEARCH INTERESTS</h5>
            <ul class="collection" ng-repeat="interest in researchInterests">
                <li class="collection-item avatar">
                    <i class="material-icons circle light-green darken-2">mode_edit</i>
                    <h5>{{interest}}</h5>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/spike-ricky.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <h5>SERVICE</h5>
            <ul class="collection with-header" ng-repeat="(type, serviceList) in service">
                <li class="collection-header light-green darken-2 white-text">
                    <h5>{{type}}</h5>
                </li>
                <li class="collection-item avatar" ng-repeat="service in serviceList">
                    <i class="material-icons circle light-green accent-2">people_outline</i>
                    <p>{{service}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

