<footer class="page-footer grey darken-4" ng-controller="FooterCtrl">
    <div class="container">
        <div class="row">
            <div class="col m3 s6 center" ng-repeat="link in socialMediaLinks">
                <a href="{{link.url}}" target="_blank"><img src="{{link.imageUrl}}" alt="{{link.name}} Logo" class="social-icon"></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-3">
        <div class="container">
            Copyright &copy; {{currentYear}} Melissa Mallon
            <p>This information and comments provided on this site reflect the views of Melissa Mallon only. The materials are all creations of the author, unless otherwise noted. </p>
        </div>
    </div>
</footer>