<div id="top-parallax" class="parallax-container valign-wrapper">
    <div class="parallax">
        <img class="darken-image" src="assets/images/vineyard.jpg">
    </div>
    <div class="row">
        <h4 class="header white-text center">Hi, I’m Melissa Mallon, an academic librarian with a passion for teaching and instructional design.</h4>
    </div>
</div>
<div class="section white">
    <p class="light-green-text darken-2 section-header">My professional interests center around teaching information literacy and critical thinking skills, online learning, and creative use of emerging technologies and social media in education.</p>
    <div class="row">
        <div class="col l9 m8 s12">
            <img class="responsive-img" src="assets/images/liss-portrait.jpg">
        </div>
        <div class="col l3 m4 s12">
            <div class="right">
                <a class="twitter-follow-button" href="https://twitter.com/librarianliss" data-show-count="false" data-size="large">Follow @librarianliss</a>
            </div>
            <div class="hide-on-small-only">
                <a class="twitter-timeline" href="https://twitter.com/librarianliss"data-height="400">Tweets by @librarianliss</a>
            </div>
            <div class="hide-on-med-and-up">
                <a class="twitter-timeline" href="https://twitter.com/librarianliss"data-tweet-limit="3">Tweets by @librarianliss</a>
            </div>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <p class="light-green-text darken-2 section-header">This site details my professional creations, accomplishments, and aspirations. If you have any questions or comments, please <a ng-href="#!/contact-me">get in touch</a> or contact me through my social media accounts.<span><i class="material-icons">arrow_downward</i></span></p>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/spike-ricky.jpg"></div>
</div>