<div id="top-parallax" class="parallax-container valign-wrapper">
    <div class="parallax">
        <img class="darken-image" src="images/vineyard.jpg">
    </div>
    <div class="row">
        <h4 class="header white-text center">Hi, I’m Melissa Mallon, an academic librarian with a passion for teaching and instructional design.</h4>
    </div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <p class="grey-text text-darken-3 lighten-3 center-align">My professional interests center around teaching information literacy and critical thinking skills, online learning, and creative use of emerging technologies and social media in education.</p>
            <img class="center responsive-img" src="images/liss-portrait.jpg">
            <p class="grey-text text-darken-3 lighten-3 center-align">This site details my professional creations, accomplishments, and aspirations. If you have any questions or comments, please get in touch or contact me through my social media accounts.</p>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/spike-ricky.jpg"></div>
</div>