<!-- <div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-content">
            <ul class="tabs">
                <li class="tab"><a href="" ng-click="scrollTo('tutorials')">Tutorials</a></li>
                <li class="tab"><a ng-click="scrollTo('assessment')">Assessment</a></li>
                <li class="tab"><a href="#test3">Disabled Tab</a></li>
                <li class="tab"><a href="#test4">Test 4</a></li>
            </ul>
        </div>
    </nav>
</div> -->
<div id="top-parallax" class="parallax-container valign-wrapper">
    <div class="parallax">
        <img class="darken-image" src="assets/images/vineyard.jpg">
    </div>
    <div class="row">
        <h4 class="header white-text center">Here's some stuff I've been working on.</h4>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="card-panel light-green darken-2">
            <h5 class="white-text center">Teaching & Learning</h5>
        </div>
    </div>
</div>
<div class="section white">
    <div id="tutorials" class="row container">
        <div class="col s12">
            <div class="card-panel light-green lighten-2">
                <h5 class="white-text">Video Tutorials</h5>
            </div>
        </div>
        <div ng-repeat="video in vandyVideos">
            <div class="col s12">
                <p class="truncate">{{video.title}}</p>
                <div class="video-container">
                    <iframe width="560" height="315" src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col s12">
            <h5 class="light-green-text darken-2">Selected tutorials made for Wichita State University Libraries <span><i class="material-icons">arrow_downward</i></span></h5>
        </div>
        <div ng-repeat="video in wsuVideos">
            <div class="col s12 m6">
                <p>{{video.title}}</p>
                <div class="video-container">
                    <iframe width="560" height="315" src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card-panel light-green lighten-2">
                <h5 class="white-text">Information Literacy Instruction</h5>
            </div>
        </div>
        <div class="col s12">
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header">
                        <h5>Evidence Based Practice Portal</h5>
                    </div>
                    <div class="collapsible-body">
                        <span>
                            <p>Created for School of Nursing at Wichita State University</p>
                            <img class="responsive-img" src="assets/images/evidence-based.png">
                            <p>This project was created in collaboration with faculty from the Wichita State University College of Health Professions. The Portal can be used as a stand-alone resource for students needing to enhance their skills, or as part of a course to teaching the principles of evidence based practice and information literacy.</p>
                            <p><a ng-href="http://libraries.wichita.edu/ablah/images/files/tutorials/story_html5.html" target="_blank">Formulating a Search Strategy Tutorial</a> - this tutorial was created with Articulate Storyline and can also be used as a stand-alone learning object or embedded in a CMS.</p>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <h5>LASI 170: Introduction to Library Research</h5>
                    </div>
                    <div class="collapsible-body">
                        <embed src="assets/documents/IntroToResearch_Syllabus_.pdf" width="100%"/>
                        <!-- <img class="responsive-img" src=""> -->
                        <span>
                            <p>I taught an online section of Wichita State University Libraries' one-credit hour information literacy course. Learning modules included Getting Started on Library Research.</p>
                            <p><a ng-href="assets/documents/IntroToResearch_Syllabus_.pdf" target="_blank">Course syllabus</a></p>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <h5>Research Productivity Workshop Series</h5>
                    </div>
                    <div class="collapsible-body">
                        <span>
                            <p>@ Vanderbilt University</p>
                            <p><a ng-href="http://researchguides.library.vanderbilt.edu/researchproductivity" target="_blank">Series webpage</a></p>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <h5>Vanderbilt Libraries Instruction Program</h5>
                    </div>
                    <div class="collapsible-body">
                        <span>
                            <p>This provides more information for Vanderbilt University faculty and instructors related to critical thinking, information and digital literacies, and library instruction.</p>
                            <p><a ng-href="http://library.vanderbilt.edu/faculty-staff/instruction.php" target="_blank">Instruction Program</a></p>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/spike-ricky.jpg"></div>
</div>
<div class="row">
    <div class="col s12">
        <div class="card-panel light-green darken-2">
            <h5 class="white-text center">Instruction Design</h5>
        </div>
    </div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-image full-height-card-image">
                    <img src="https://usndebate.files.wordpress.com/2016/10/cropped-instruction.jpg">
                    <span class="card-title">Navigating the Research Landscape</span>
                </div>
                <div class="card-content white-text light-green lighten-2">
                    <p>served as Co-PI-designate on EE Ford grant for partnership between Vanderbilt University Libraries and University School of Nashville to design a high school debate curriculum that focuses on the development of university-level research skills. Created an open source</p>
                </div>
                <div class="card-action">
                    <a href="https://usndebate.wordpress.com" target="_blank">Project website</a>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card-panel light-green lighten-2">
                <h5 class="white-text">Training Materials</h5>
            </div>
        </div>
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-image full-height-card-image">
                    <img src="http://lgimages.s3.amazonaws.com/data/imagemanager/72228/infolitwordcloud.jpg">
                    <span class="card-title light-green-text darken-2">Teaching Bootcamp for Library Staff</span>
                </div>
                <div class="card-content white-text light-green lighten-2">
                    <p>Over 40 library staff participated in a 2-day Teaching Bootcamp, which covered foundational instructional design skills and strategies for engaging students in active learning and assessment. Attendees participated in a number of workshops and activities designed to strengthen their teaching skills and help them develop new techniques for their training and classes in the fall.</p>
                </div>
                <div class="card-action">
                    <a href="http://researchguides.library.vanderbilt.edu/libteachingtoolkit/2017bootcamp" target="_blank">Bootcamp website</a>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-content white-text light-green lighten-2">
                    <span class="card-title">Liaison Librarian Toolkit</span>
                    <p>Resource kit developed for librarians at Vanderbilt University Libraries.</p>
                </div>
                <div class="card-action">
                    <a href="http://researchguides.library.vanderbilt.edu/liaisontoolkit" target="_blank">Toolkit website</a>
                </div>
            </div>
        </div>
        <div class="col s12">
            <h5 class="light-green-text darken-2">Training modules I have developed for librarians and university faculty/staff <span><i class="material-icons">arrow_downward</i></span></h5>
        </div>
        <div ng-repeat="prezi in prezis">
            <div class="col s12 m6">
                <p ng-if="prezi.resourceUrl == ''">{{prezi.title}}</p>
                <p ng-if="prezi.resourceUrl != ''"><a ng-href="{{prezi.resourceUrl}}" target="_blank">{{prezi.title}}</a></p>
                <div class="video-container">
                    <iframe frameborder="0" allowfullscreen width="550" height="400" src="{{prezi.url}}"></iframe>
                </div>
                <p>{{prezi.description}}</p>
            </div>
        </div>
    </div>
</div>






