<div id="top-parallax" class="parallax-container valign-wrapper">
    <div class="parallax">
        <img class="darken-image" src="assets/images/open-book.jpg">
    </div>
    <div class="row">
        <h4 class="header center white-text">Presentations, presentations and more presentations!</h4>
    </div>
</div>
<div class="section white">
    <div class="container" ng-repeat="(type, presentationList) in presentations">
        <div class="row">
            <h4>{{type}}</h4>
            <div ng-repeat="presentation in presentationList">
                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{presentation.imageUrl}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 truncate">{{presentation.title}}<i class="material-icons right">more_vert</i></span>
                            <p>{{presentation.conference}} {{presentation.location}} {{presentation.date}}</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{presentation.title}}<i class="material-icons right">close</i></span>
                            <p>{{presentation.additional}}</p>
                            <div ng-repeat="(link, address) in presentation.materials">
                                <p><a href="{{address}}" target="_blank">{{link}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>