<div class="navbar-fixed sub-nav hide-on-small-only">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li ng-click="goToSection('section-2')"><a class="light-green-text darken-2">Literacies</a></li>
        <li ng-click="goToSection('section-3')"><a class="light-green-text darken-2">Instruction</a></li>
        <li ng-click="goToSection('section-4')"><a class="light-green-text darken-2">Educational</a></li>
        <li ng-click="goToSection('section-5')"><a class="light-green-text darken-2">Administration</a></li>
    </ul>
    <nav class="sub-nav grey darken-4">
        <div class="nav-wrapper container">
            <ul class="right">
                <li ng-click="goToSection('section-0')"><a href="">Featured Speaker</a></li>
                <li ng-click="goToSection('section-1')"><a href="">Courses & Workshops</a></li>
                <li><a class="dropdown-button" href="" data-activates="dropdown1">Presentation Topics<i class="material-icons right sub-nav">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="top-parallax" class="parallax-container valign-wrapper">
    <div class="parallax">
        <img class="darken-image" src="assets/images/open-book.jpg">
    </div>
    <div class="row">
        <h4 class="header center white-text">Presentations, presentations and more presentations!</h4>
    </div>
</div>
<div class="section white">
    <div class="container" ng-repeat="(type, presentationList) in presentations">
        <div class="row">
            <h4 id="section-{{$index}}" class="light-green-text darken-2">{{type}}</h4>
            <div ng-repeat="presentation in presentationList">
                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{presentation.imageUrl}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 truncate">{{presentation.title}}<i class="material-icons right">more_vert</i></span>
                            <p>{{presentation.conference}} {{presentation.location}} {{presentation.date}}</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{presentation.title}}<i class="material-icons right">close</i></span>
                            <p>{{presentation.additional}}</p>
                            <div ng-repeat="(link, address) in presentation.materials">
                                <p><a href="{{address}}" target="_blank">{{link}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>