<div class="navbar-fixed sub-nav hide-on-small-only">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li ng-click="goToSection('section-0')"><a class="light-green-text darken-2">Literacies</a></li>
        <li ng-click="goToSection('section-1')"><a class="light-green-text darken-2">Instruction</a></li>
        <li ng-click="goToSection('section-2')"><a class="light-green-text darken-2">Educational</a></li>
        <li ng-click="goToSection('section-3')"><a class="light-green-text darken-2">Administration</a></li>
        <li ng-click="goToSection('section-4')"><a class="light-green-text darken-2">other</a></li>
    </ul>
    <nav class="sub-nav grey darken-4">
        <div class="nav-wrapper container">
            <ul class="right">
                <li><a class="dropdown-button" href="" data-activates="dropdown1">Publication Topics<i class="material-icons right sub-nav">arrow_drop_down</i></a></li>
                <li ng-click="goToSection('section-5')"><a href="">Editorships</a></li>
                <li ng-click="goToSection('section-6')"><a href="">Contributing Author</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="top-parallax" class="parallax-container valign-wrapper">
    <div class="parallax">
        <img class="darken-image" src="assets/images/open-book.jpg">
    </div>
    <div class="row">
        <h4 class="header center white-text">Here's some of my published work.</h4>
    </div>
</div>
<div class="section white">
    <div ng-repeat="(type, pubsList) in publications">
        <h4 class="light-green-text darken-2 section-header">{{type}}</h4>
        <div class="container">
            <ul class="collection">
                <li class="collection-item avatar" ng-repeat="publication in pubsList">
                    <img class="circle" ng-if="publication.imageUrl == ''" src="{{defaultBookImagePath}}">
                    <img class="circle" ng-if="publication.imageUrl != ''" src="{{publication.imageUrl}}">
                    <span class="title"><a href="{{publication.url}}" target="_blank">{{publication.title}}</a></span>
                    <p>{{publication.year}}</p>
                    <p>{{publication.journalTitle}}</p>
                    <p>{{publication.publisher}}</p>
                </li>
            </ul>
        </div>
    </div>
    <h4 class="light-green-text darken-2 section-header">Editorships</h4>
    <div class="container">
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="http://www.tandfonline.com/na101/home/literatum/publisher/tandf/journals/content/wpsq20/2017/wpsq20.v013.i02/wpsq20.v013.i02/20170516-01/wpsq20.v013.i02.cover.jpg" class="circle">
                <span class="title"><a href="http://www.tandfonline.com/loi/wpsq20" target="_blank">Internet Resources Column</a></span>
                <p>Public Services Quarterly</p>
                <p>(2012-present)</p>
            </li>
        </ul>
    </div>
    <h4 class="light-green-text darken-2 section-header">Reviewer & Contributing Author</h4>
    <div class="container">
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="https://pbs.twimg.com/profile_images/741270223815335937/7V7nrhNV.jpg" class="circle">
                <span class="title">Book Reviewer</span>
                <p>Library Journal</p>
                <p>(2012-present)</p>
            </li>
            <li class="collection-item avatar">
                <img src="http://www.tandfonline.com/na101/home/literatum/publisher/tandf/journals/content/wpsq20/2017/wpsq20.v013.i02/wpsq20.v013.i02/20170516-01/wpsq20.v013.i02.cover.jpg" class="circle">
                <span class="title">Website Reviewer</span>
                <p>Public Services Quarterly</p>
                <p>(2008-2010)</p>
            </li>
            <li class="collection-item avatar">
                <img src="https://www.projectcora.org/sites/default/files/images/Screen%20Shot%202016-07-25%20at%206.51.45%20PM.png" class="circle">
                <span class="title">First-Year Academic Librarian Author</span>
                <p>ACRLog</p>
                <p>(Sept 2007-2008)</p>
            </li>
            <li class="collection-item avatar">
                <img src="{{defaultBookImagePath}}" class="circle">
                <span class="title">Guest column editor</span>
                <p>Louisiana Libraries Journal</p>
                <p>(April 2007)</p>
            </li>
        </ul>
    </div>
</div>